.quantity {
  position: relative;
}

input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button
{
  -webkit-appearance: none;
  margin: 0;
}

input[type=number]
{
  -moz-appearance: textfield;
}

.quantity input {
  width: 130px;
  height: 36px;
  // line-height: 1.65;
  font-size: $large;
  float: left;
  display: block;
  padding: 0 36px;
  margin: 0;
  text-align: center;
  border: 1px solid $bordersColor;
  transition: border 0.3s linear;
}

.quantity input:focus {
  outline: 0;
  border-color: $primaryColor;
}

.quantity-nav {
  // float: left;
  position: relative;
  height: 36px;
}

.quantity-button {
  position: absolute;
  height: 100%;
  top: 0;
  cursor: pointer;
  width: 36px;
  font-size: 13px;
  // transform: translateX(-100%);
  user-select: none;
  background-color: $fourthColor;
  border: 1px solid $bordersColor;
  box-sizing: border-box;

  &:hover {background-color: #fbfbfb;}

  &:after {
    content: ''; 
    position: absolute;
    // border: 4px solid transparent;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background: url("../img/icons/left-arrow.svg") center no-repeat;
    background-size: contain;
    display: inline-block;
    width: 17px;
    height: 17px;
  }
}

.quantity-button.quantity-up {
  right: 0;
  transform: scaleX(-1);
}
.quantity-button.quantity-down {
  left: 0;
}

